header {
    max-width: 1170px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

/* Lista com menu de navegacao do header  */
nav {
    margin: 20px 0;
}

nav li {
    list-style: none;
    display: inline;
}

nav li a {
    color: var(--purple);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

li:nth-child(2) {
    margin: 0 32px;
}

@media screen and (max-width: 768px) {
   header {
       display: block;
       padding: 0 20px;
   }
   nav li {
       display: block;
       width: 100%;
   }
}