/* Você pode importar todos os arquivos CSS em um unico arquivo, 
mas será que isso é bom para a performance da sua pagina? */

/* @import url(/src/css/header.css);
@import url(/src/css/main.css);
@import url(/src/css/formulario.css);
@import url(/src/css/footer.css); */

/* Este trecho de código reseta o estilo nativo dos navegadores */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Este trecho define a fonte a ser utilizada na página */
html {
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* Outra forma de escrever este trecho utilizando Propriedades shorthand: */
    /* font: 18px Roboto, Arial, Arial, Helvetica, sans-serif; */
}

/* Este trecho define as variáveis globais que você pode acessar em outras partes do projeto */
:root {
    --purple: #7B61FF;
}
